.menu-color{
    background-color: rgb(243, 175, 16);
}

.food-size{
    width: 100px;
    height: auto;
}

.play-size{
    width: 120px;
    height: auto;
}

.sleep-size{
    width: 120px;
    height: auto;
}

.ask-size{
    width: 120px;
    height: auto;
}