canvas {
    width: 1000px;
    height: auto;
    display: block;
    margin: auto;
    background-image: url(../images/background-bedroom.png); /* Ajusta la ruta según la ubicación de tu archivo CSS */
    background-size: cover;
}
